
.page-item{
    &:not(:first-child) .page-link {
        margin-right: 5px;
    }

    .page-link {
        padding: .580rem 1.10rem;
        color: var(--main-color);
        border: 1px solid #dee2e6;
        font-size: 20px;
        font-weight: 600;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

        &:hover{
            background-color: var(--main-color);
            color: #fff;
        }

        &:focus{
            z-index: 3;
            color: #fff;
            background-color: var(--main-color);
            box-shadow: none;
        }
    }
}