.bank-info{
    background-color: #fbfbfb;
    padding-bottom: 30px;

    .content{
        .img{
            text-align: center;
        }

        .info{
            margin-top: 20px;
            p{
                line-height: 1.7;
                font-size: 18px;
                margin-bottom: 30px;
            }
        }
    }
}